apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        # Extract request_id and create link to search all logs for that request
        - datasourceUid: loki
          matcherRegex: "request_id=(\\w+)"
          name: request_id
          url: "$${__value.raw}"
